*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

.mainContent{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textCenter{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.w_h{
    width: 60vw;
}