*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

.mainContent{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.textCenter{
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 5rem;
    position: absolute;
    top: 650px;
}

.w_h{
    width: 70vw;
}